[submodule "submodules/lolcat"]
	path = submodules/lolcat
	url = https://github.com/KnBrckr/lolcat.git
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/vendor/start/lightline"]
	path = vim/pack/vendor/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/vendor/start/editorconfig-vim"]
	path = vim/pack/vendor/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/pack/vendor/start/coc.nvim"]
	path = vim/pack/vendor/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/vendor/start/vim-doge"]
	path = vim/pack/vendor/start/vim-doge
	url = https://github.com/kkoomen/vim-doge.git
[submodule "vim/pack/vendor/start/splitjoin"]
	path = vim/pack/vendor/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "vim/pack/vendor/start/tcomment"]
	path = vim/pack/vendor/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/pack/vendor/start/vim-snippets"]
	path = vim/pack/vendor/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/pack/vendor/start/vim-lsp-cxx-highlight"]
	path = vim/pack/vendor/start/vim-lsp-cxx-highlight
	url = https://github.com/jackguo380/vim-lsp-cxx-highlight.git
[submodule "vim/pack/vendor/start/vim-devicons"]
	path = vim/pack/vendor/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/pack/vendor/start/nerdtree-git-plugin"]
	path = vim/pack/vendor/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/vendor/start/vim-dispatch"]
	path = vim/pack/vendor/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/pack/vendor/start/cmake4vim"]
	path = vim/pack/vendor/start/cmake4vim
	url = https://github.com/ilyachur/cmake4vim.git
[submodule "vim/pack/vendor/start/fzf"]
	path = vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/vendor/start/fzf.vim"]
	path = vim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/vendor/start/vim-gutentags"]
	path = vim/pack/vendor/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/pack/vendor/start/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/vendor/start/vim-tmux-navigator"]
	path = vim/pack/vendor/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/vendor/opt/papercolor-theme"]
	path = vim/pack/vendor/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/pack/vendor/start/vim-abolish"]
	path = vim/pack/vendor/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
