.idea
backup
shell/zshcustom/plugins/alias-tips
shell/zshcustom/plugins/zsh-autosuggestions
shell/zshcustom/plugins/zsh-syntax-highlighting
shell/zshcustom/themes/powerlevel10k
submodules/
vim/.netrwhist
vim/.viminfo
vim/plugged

# Used by lua language server, contains environment specific paths
.luarc.json
