[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "submodules/lolcat"]
	path = submodules/lolcat
	url = https://github.com/KnBrckr/lolcat.git
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/vendor/start/syntastic"]
	path = vim/pack/vendor/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/pack/vendor/start/vim-gitgutter"]
	path = vim/pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
