<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.pumastudios.keep-drives-spinning</string>

	<key>ProgramArguments</key>
	<array>
		<string>/Users/ken/.dotfiles/bin/keep-drives-spinning.sh</string>
	</array>
	
	<key>LowPriorityIO</key>
	<true/>
	
	<key>Nice</key>
	<integer>1</integer>
	
	<key>RunAtLoad</key>
	<true/>
	
	<key>StartInterval</key>
	<integer>150</integer>
	
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
	</dict>
</dict>
</plist>
